@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Ensure body takes full space for the app to mount into */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
